[submodule "chia"]
	path = tools/chia
	url = https://github.com/ucb-bar/chia.git
[submodule "third_party/opentitan"]
	path = third_party/opentitan
	url = https://github.com/lowRISC/opentitan.git
[submodule "third_party/verilog-axi"]
	path = third_party/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "third_party/ibex"]
	path = third_party/ibex
	url = https://github.com/lowRISC/ibex.git
