[submodule "chia"]
	path = tools/chia
	url = https://github.com/ucb-bar/chia.git
[submodule "third_party/opentitan"]
	path = benchmarks/opentitan
	url = https://github.com/lowRISC/opentitan.git
[submodule "third_party/verilog-axi"]
	path = benchmarks/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "third_party/ibex"]
	path = benchmarks/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "third_party/bsg_fakeram"]
	path = benchmarks/support/bsg_fakeram
	url = https://github.com/bespoke-silicon-group/bsg_fakeram.git
[submodule "third_party/gest"]
	path = tools/baseline-references/gest
	url = https://github.com/toolsForUarch/GeST.git
[submodule "third_party/gest_saga"]
	path = tools/baseline-references/gest_saga
	url = https://github.com/ucy-xilab/GeST-SAGA.git
[submodule "third_party/basejump_stl"]
	path = benchmarks/support/basejump_stl
	url = https://github.com/bespoke-silicon-group/basejump_stl.git
[submodule "third_party/redmule"]
	path = benchmarks/redmule
	url = https://github.com/pulp-platform/redmule.git
[submodule "tools/opensta"]
	path = tools/opensta
	url = https://github.com/The-OpenROAD-Project/OpenSTA.git
[submodule "tools/yosys"]
	path = tools/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tools/iverilog"]
	path = tools/iverilog
	url = https://github.com/steveicarus/iverilog.git
[submodule "tools/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator.git
[submodule "tools/sv-elab"]
	path = tools/sv-elab
	url = https://github.com/povik/sv-elab.git
[submodule "tools/cudd"]
	path = tools/cudd
	url = https://github.com/ivmai/cudd.git
[submodule "tools/boost-regex"]
	path = tools/boost-regex
	url = https://github.com/MikePopoloski/regex.git
